# ============================================
# Data (terlalu besar, download sendiri)
# ============================================
data/raw/
data/bronze/
data/silver/
data/gold/clustering_result.parquet/

# ============================================
# Jupyter checkpoints
# ============================================
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# ============================================
# Python cache
# ============================================
__pycache__/
*.pyc
*.pyo

# ============================================
# OS files
# ============================================
.DS_Store
Thumbs.db
desktop.ini

# ============================================
# IDE
# ============================================
.vscode/
.idea/
